body {
            background-image: url('635dd42e5d9f2443bd1c143b.png');
    font-family: Arial, sans-serif;
    text-align: left;
}

h1 {
    color: #0066cc;
}

p {
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

li {
    display: inline-block;
    padding: 15px;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #444;
    padding: 10px;
    border-radius: 5px; /* Agregamos esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Agregamos sombra */
}

li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    padding: 5px;
}

.submenu a {
    color: white;
    text-decoration: none;
}

.caja {
    background-color: #ff9933;
    width: 200px;
    height: 100px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #cc6600;
    border-radius: 10px;
        }