body {
            background-image: url('635dd42e5d9f2443bd1c143b.png');
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
        }